<div class="page page--top">
    <header>
        {{>back-button}}
    </header>

    <h1 class="page__title">User list</h1>

    <hr class="page__divider">

    <div action="" class="page__section" id="user-list">

        {{!-- <span class="alert alert--disabled">Achtung, error, time: 41:50</span> --}}
        <span class="alert alert--success">Achtung, error, time: 41:50</span>

        <a href="" class="user user--click">
            <span class="user__title">test@mail.com</span>
            <span class="user__sub">Administrator</span>
        </a>

        <a href="" class="user user--click">
            <span class="user__title">test@mail.com</span>
            <span class="user__sub">Administrator</span>
        </a>

        <a href="" class="user user--click">
            <span class="user__title">test@mail.com</span>
            <span class="user__sub">Administrator</span>
        </a>

    </div>

</div>