<div class="page page--background">
    <header>
        {{>back-button}}
    </header>
    <form action="" class="page__section">
        <h1 class="page__title">Sign in</h1>
        <div class="form">
            <div class="form__item">
                {{>field action="signupForm.change" label="Email" type="email" name="email" placeholder="Your email"}}
                <span name="email" class="form__error">Errrror</span>
            </div>
            <div class="form__item">
                {{>field-password action="signupForm.change" label="Password" type="password" name="password"
                placeholder="Password"}}
                <span name="password" class="form__error">Errrror</span>
            </div>

        </div>
        <button onclick="signupForm.submit()" class="button button--disabled" type="button">Sign in</button>
        <span class="alert alert--disabled">Achtung, error, time: 41:50</span>
        <span class="link__prefix">Forgot password? <a href="/recovery" class="link">Recovery</a></span>
    </form>
</div>