<div class="page page--background">
    <header>
        {{>back-button}}
    </header>
    <form action="" class="page__section">
        <h1 class="page__title">Recovery password</h1>
        <div class="form">
            <div class="form__item">
                {{>field action="recoveryConfirmForm.change" label="Code" type="number" placeholder="Enter code here"
                name="code"}}
                <span name="code" class="form__error">Errrror</span>
            </div>
            <div class="form__item">
                {{>field-password action="recoveryConfirmForm.change" label="New password" type="password"
                name="password"
                placeholder="Enter new password"}}
                <span name="password" class="form__error">Errrror</span>
            </div>
            <div class="form__item">
                {{>field-password action="recoveryConfirmForm.change" label="Confirm new password" type="password"
                name="passwordAgain"
                placeholder="Enter new password again"}}
                <span name="passwordAgain" class="form__error">Errrror</span>
            </div>

        </div>
        <button onclick="recoveryConfirmForm.submit()" class="button button--disabled" type="button">Save</button>
        <span class="alert alert--disabled">Achtung, error, time: 41:50</span>
    </form>
</div>